* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}

body {
    background-color: hsl(233, 47%, 7%);
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 28rem;
    width: 65rem;
    display: flex;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0.5em;
}

.card-description, .card-image {
    width: 50%;
}

.header-image {
    width: 100%;
    height: 100%;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

h1 {
    height: 40%;
    padding: 4rem 5rem 0 4rem;
    font-size: 2rem;
}

p {
    height: 30%;
    padding: 0 6rem 0 4rem;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.9rem;
    line-height: 1.5em;
}

.stats {
    height: 30%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem 0 4rem;
}

.stats-number {
    font-weight: 700;
    font-size: 1.5rem;
}

.stats-text {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    padding-top: 0.5em;
    font-size: 0.65rem;
    letter-spacing: 0.1em;
}

.attribution {
    font-size: 0.7rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}